div.App {
  min-height: 100vh;
  width: 100%;
  background-color: ghostwhite;
  padding-bottom: 5rem;

  header {
    background-color: var(--bg);

    h1.app-title {
      color: var(--white);
      text-align: center;
      font-size: 3rem;
      padding: 1rem 0;
    }
  }

  section {
    width: 100%;

    div.container {
      max-width: 111rem;
      margin: 7rem auto;

      h2.title,
      p.description {
        text-align: center;
        margin-top: 1rem;
      }

      form {
        max-width: 88rem;
        margin: 4rem auto;

        input[type="text"],
        button {
          width: 100%;
          margin-top: 0.5rem;
          margin-bottom: 1rem;
          line-height: 3rem;
          padding: 0 1em;
          border: 1px solid grey;
          border-radius: 3px;
          outline: none;
        }

        div {
          margin: 1rem 0;

          & > .inline {
            display: inline-block;
            margin-right: 3rem;

            input[type="radio"] {
              margin-right: 0.5em;
            }
          }
        }

        button {
          background-color: #007bff;
          text-transform: uppercase;
          color: var(--white);
          cursor: pointer;
        }
      }
    }
  }
}
